.pearls {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 0 22px;
}
.pearls-lg .pearl:after,
.pearls-lg .pearl:before {
	top: 20px
}

.pearls-lg .pearl-title {
	font-size: 18px
}

.pearls-lg .pearl-icon,
.pearls-lg .pearl-number {
	width: 40px;
	height: 40px;
	line-height: 36px;
	font-size: 20px
}

.pearls-sm .pearl:after,
.pearls-sm .pearl:before {
	top: 16px
}

.pearls-sm .pearl-title {
	font-size: 14px
}

.pearls-sm .pearl-icon,
.pearls-sm .pearl-number {
	width: 32px;
	height: 32px;
	line-height: 28px
}

.pearls-sm .pearl-number {
	font-size: 16px
}

.pearls-sm .pearl-icon {
	font-size: 14px
}

.pearls-xs .pearl:after,
.pearls-xs .pearl:before {
	top: 12px;
	height: 2px
}

.pearls-xs .pearl-title {
	font-size: 12px
}

.pearls-xs .pearl-icon,
.pearls-xs .pearl-number {
	width: 24px;
	height: 24px;
	line-height: 20px;
	font-size: 12px
}