.timeline-info {
	float: right;
	padding: 0 20px;
	margin-bottom: 22px;
	line-height: 28px;
	background: #e4eaec;
	border: 1px solid #e4eaec;
    border-radius: 20px;
    text-align: center;
}

@media (max-width:767.98px) {
	.timeline-info {
		display: inline-block;
		float: none
	}
}
