
.card-deck {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column
}

.card-deck .card {
	margin-bottom: .715rem
}

@media (min-width:480px) {
	.card-deck {
		-webkit-box-direction: normal;
		-webkit-box-orient: horizontal;
		-webkit-flex-flow: row wrap;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		margin-right: -.715rem;
		margin-left: -.715rem
	}

	.card-deck .card {
		-webkit-box-direction: normal;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-flex: 1;
		-webkit-flex: 1 0 0%;
		-ms-flex: 1 0 0%;
		flex: 1 0 0%;
		-webkit-box-orient: vertical;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-right: .715rem;
		margin-bottom: 0;
		margin-left: .715rem
	}
}