.nav-pills .nav-link {
	border-radius: .215rem;
	-webkit-transition: border .2s linear 0s,color .2s linear 0s,background-color .2s linear 0s;
	transition: border .2s linear 0s,color .2s linear 0s,background-color .2s linear 0s
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	color: #fff;
	background-color: #997b71
}
.nav-pills>li>a>.badge-pill {
	margin-left: 3px
}



