
.btn-animate-side {
	padding: .572rem 2rem
}

.btn-animate-side span {
	-webkit-transition: -webkit-transform .2s ease-out 0s;
	transition: -webkit-transform .2s ease-out 0s;
	transition: transform .2s ease-out 0s;
	transition: transform .2s ease-out 0s,-webkit-transform .2s ease-out 0s
}

.btn-animate-side span>.icon {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	opacity: 0;
	-webkit-transition: opacity .2s ease-out 0s;
	transition: opacity .2s ease-out 0s;
	-webkit-transform: translate(-20px,-50%);
	transform: translate(-20px,-50%)
}

.btn-animate-side:hover span {
	-webkit-transform: translate(10px,0);
	transform: translate(10px,0)
}

.btn-animate-side:hover span>.icon {
	opacity: 1
}

.btn-animate-side.btn-xs,
.btn-group-xs>.btn-animate-side.btn {
	padding: .215rem 1rem
}

.btn-animate-side.btn-xs span>.icon,
.btn-group-xs>.btn-animate-side.btn span>.icon {
	left: 5px
}

.btn-animate-side.btn-xs:hover span,
.btn-group-xs>.btn-animate-side.btn:hover span {
	-webkit-transform: translate(8px,0);
	transform: translate(8px,0)
}

.btn-animate-side.btn-sm,
.btn-group-sm>.btn-animate-side.btn {
	padding: .429rem 1.572rem
}

.btn-animate-side.btn-sm span>.icon,
.btn-group-sm>.btn-animate-side.btn span>.icon {
	left: 3px
}

.btn-animate-side.btn-sm:hover span,
.btn-group-sm>.btn-animate-side.btn:hover span {
	-webkit-transform: translate(8px,0);
	transform: translate(8px,0)
}

.btn-animate-side.btn-lg,
.btn-group-lg>.btn-animate-side.btn {
	padding: .715rem 2.358rem
}

.btn-animate-side.btn-lg span>.icon,
.btn-group-lg>.btn-animate-side.btn span>.icon {
	left: -6px
}

.btn-animate-side.btn-lg:hover span,
.btn-group-lg>.btn-animate-side.btn:hover span {
	-webkit-transform: translate(14px,0);
	transform: translate(14px,0)
}