.collapsing {
	overflow: hidden;
	height: 0;
	-webkit-transition: height .35s ease;
    transition: height .35s ease;
    position: relative;
}
.collapse:not(.show) {
	display: none
}
@media screen and (prefers-reduced-motion:reduce) {
	.collapsing {
		-webkit-transition: none;
		transition: none
	}
}