
.radio-custom input[type=radio] {
	z-index: 1;
	width: 20px;
	height: 20px;
	cursor: pointer;
	opacity: 0
}

.radio-custom input[type=radio]:disabled,.radio-custom input[type=radio]:disabled+input[type=hidden]+label::before,.radio-custom input[type=radio]:disabled+label::before {
	cursor: not-allowed
}

.radio-custom input[type=radio]:checked+input[type=hidden]+label::before,.radio-custom input[type=radio]:checked+label::before {
	border-color: #e4eaec;
	border-width: 10px
}

.radio-custom input[type=radio]:checked+input[type=hidden]+label::after,.radio-custom input[type=radio]:checked+label::after {
	-webkit-transform: scale(1,1);
	transform: scale(1,1)
}

.radio-custom input[type=radio]:disabled+input[type=hidden]+label,.radio-custom input[type=radio]:disabled+label {
	opacity: .65
}

.radio-custom.radio-inline {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0
}

@media (min-width:768px) {
	.form-inline .radio-custom {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		vertical-align: middle
	}

	.form-inline .radio-custom label {
		padding-left: 10px
	}

	.form-inline .radio-custom input[type=radio] {
		position: absolute;
		margin-left: -20px
	}
}

.form-horizontal .radio-custom {
	padding-top: .358rem;
	margin-top: 0;
	margin-bottom: 0;
	min-height: 1.93rem
}

.radio-inline+.radio-inline {
	margin-left: 20px
}

.radio-default input[type=radio]:checked+input[type=hidden]+label::before,.radio-default input[type=radio]:checked+label::before {
	background-color: #fff;
	border-color: #e4eaec;
	border-width: 1px
}

.radio-default input[type=radio]:checked+input[type=hidden]+label::after,.radio-default input[type=radio]:checked+label::after,.radio-primary input[type=radio]:checked+input[type=hidden]+label::before,.radio-primary input[type=radio]:checked+label::before {
	border-color: #997b71
}

.radio-primary input[type=radio]:checked+input[type=hidden]+label::after,.radio-primary input[type=radio]:checked+label::after {
	border-color: #fff
}

.radio-danger input[type=radio]:checked+input[type=hidden]+label::before,.radio-danger input[type=radio]:checked+label::before {
	border-color: #ff4c52
}

.radio-danger input[type=radio]:checked+input[type=hidden]+label::after,.radio-danger input[type=radio]:checked+label::after {
	border-color: #fff
}

.radio-info input[type=radio]:checked+input[type=hidden]+label::before,.radio-info input[type=radio]:checked+label::before {
	border-color: #0bb2d4
}

.radio-info input[type=radio]:checked+input[type=hidden]+label::after,.radio-info input[type=radio]:checked+label::after {
	border-color: #fff
}

.radio-warning input[type=radio]:checked+input[type=hidden]+label::before,.radio-warning input[type=radio]:checked+label::before {
	border-color: #eb6709
}

.radio-warning input[type=radio]:checked+input[type=hidden]+label::after,.radio-warning input[type=radio]:checked+label::after {
	border-color: #fff
}

.radio-success input[type=radio]:checked+input[type=hidden]+label::before,.radio-success input[type=radio]:checked+label::before {
	border-color: #11c26d
}

.radio-success input[type=radio]:checked+input[type=hidden]+label::after,.radio-success input[type=radio]:checked+label::after {
	border-color: #fff
}

.radio-sm {
	padding-left: 18px
}

.radio-sm label {
	padding-left: 8px
}

.radio-sm label:empty {
	padding-left: 0
}

.radio-sm label::before {
	width: 18px;
	height: 18px;
	margin-left: -20px
}

.radio-sm label::after {
	top: 7px;
	left: 7px;
	width: 4px;
	height: 4px;
	margin-left: -20px;
	border-width: 2px
}

.radio-sm input[type=radio] {
	width: 18px;
	height: 18px
}

.radio-sm input[type=radio]:checked+input[type=hidden]+label::before,.radio-sm input[type=radio]:checked+label::before {
	border-width: 9px
}

.radio-lg {
	padding-left: 24px
}

.radio-lg label {
	padding-left: 12px
}

.radio-lg label:empty {
	padding-left: 0
}

.radio-lg label::before {
	width: 24px;
	height: 24px;
	margin-left: -20px
}

.radio-lg label::after {
	top: 8px;
	left: 8px;
	width: 8px;
	height: 8px;
	margin-left: -20px;
	border-width: 2px
}

.radio-lg input[type=radio] {
	width: 24px;
	height: 24px
}

.radio-lg input[type=radio]:checked+input[type=hidden]+label::before,.radio-lg input[type=radio]:checked+label::before {
	border-width: 12px
}

