
.fade {
	-webkit-transition: opacity .15s linear;
	transition: opacity .15s linear
}

@media screen and (prefers-reduced-motion:reduce) {
	.fade {
		-webkit-transition: none;
		transition: none
	}
}

.fade:not(.show) {
	opacity: 0
}