.display-1 {
	line-height: 1.2;
	font-weight: 300;
	font-size: 6rem
}

.display-2 {
	line-height: 1.2;
	font-weight: 300;
	font-size: 5.5rem
}

.display-3 {
	line-height: 1.2;
	font-weight: 300;
	font-size: 4.5rem
}

.display-4 {
	line-height: 1.2;
	font-weight: 300;
	font-size: 3.5rem
}