
.social-wechat {
	color: #fff;
	background-color: #51c332!important
}

.social-wechat:focus,.social-wechat:hover {
	color: #fff;
	background-color: #70d355!important
}

.social-wechat.active,.social-wechat:active {
	color: #fff;
	background-color: #409a28!important
}

.social-qq {
	color: #fff;
	background-color: #12b7f5!important
}

.social-qq:focus,.social-qq:hover {
	color: #fff;
	background-color: #43c6f7!important
}

.social-qq.active,.social-qq:active {
	color: #fff;
	background-color: #0996cb!important
}

.social-weibo {
	color: #fff;
	background-color: #e6624b!important
}

.social-weibo:focus,.social-weibo:hover {
	color: #fff;
	background-color: #ec8978!important
}

.social-weibo.active,.social-weibo:active {
	color: #fff;
	background-color: #df3b1f!important
}

.social-facebook {
	color: #fff;
	background-color: #3b5998!important
}

.social-facebook:focus,.social-facebook:hover {
	color: #fff;
	background-color: #4c70ba!important
}

.social-facebook.active,.social-facebook:active {
	color: #fff;
	background-color: #2d4373!important
}

.social-twitter {
	color: #fff;
	background-color: #55acee!important
}

.social-twitter:focus,.social-twitter:hover {
	color: #fff;
	background-color: #83c3f3!important
}

.social-twitter.active,.social-twitter:active {
	color: #fff;
	background-color: #2795e9!important
}

.social-google-plus {
	color: #fff;
	background-color: #dd4b39!important
}

.social-google-plus:focus,.social-google-plus:hover {
	color: #fff;
	background-color: #e47365!important
}

.social-google-plus.active,.social-google-plus:active {
	color: #fff;
	background-color: #c23321!important
}

.social-linkedin {
	color: #fff;
	background-color: #0976b4!important
}

.social-linkedin:focus,.social-linkedin:hover {
	color: #fff;
	background-color: #0b96e5!important
}

.social-linkedin.active,.social-linkedin:active {
	color: #fff;
	background-color: #075683!important
}

.social-flickr {
	color: #fff;
	background-color: #ff0084!important
}

.social-flickr:focus,.social-flickr:hover {
	color: #fff;
	background-color: #ff339d!important
}

.social-flickr.active,.social-flickr:active {
	color: #fff;
	background-color: #cc006a!important
}

.social-tumblr {
	color: #fff;
	background-color: #35465c!important
}

.social-tumblr:focus,.social-tumblr:hover {
	color: #fff;
	background-color: #485f7c!important
}

.social-tumblr.active,.social-tumblr:active {
	color: #fff;
	background-color: #222d3c!important
}

.social-xing {
	color: #fff;
	background-color: #024b4d!important
}

.social-xing:focus,.social-xing:hover {
	color: #fff;
	background-color: #037b7f!important
}

.social-xing.active,.social-xing:active {
	color: #fff;
	background-color: #011b1b!important
}

.social-github {
	color: #fff;
	background-color: #4183c4!important
}

.social-github:focus,.social-github:hover {
	color: #fff;
	background-color: #689cd0!important
}

.social-github.active,.social-github:active {
	color: #fff;
	background-color: #3269a0!important
}

.social-html5 {
	color: #fff;
	background-color: #e44f26!important
}

.social-html5:focus,.social-html5:hover {
	color: #fff;
	background-color: #ea7453!important
}

.social-html5.active,.social-html5:active {
	color: #fff;
	background-color: #bf3c18!important
}

.social-openid {
	color: #fff;
	background-color: #f67d28!important
}

.social-openid:focus,.social-openid:hover {
	color: #fff;
	background-color: #f89b59!important
}

.social-openid.active,.social-openid:active {
	color: #fff;
	background-color: #e26309!important
}

.social-stack-overflow {
	color: #fff;
	background-color: #f86c01!important
}

.social-stack-overflow:focus,.social-stack-overflow:hover {
	color: #fff;
	background-color: #fe882e!important
}

.social-stack-overflow.active,.social-stack-overflow:active {
	color: #fff;
	background-color: #c55601!important
}

.social-css3 {
	color: #fff;
	background-color: #1572b6!important
}

.social-css3:focus,.social-css3:hover {
	color: #fff;
	background-color: #1a8fe4!important
}

.social-css3.active,.social-css3:active {
	color: #fff;
	background-color: #105588!important
}

.social-youtube {
	color: #fff;
	background-color: #b31217!important
}

.social-youtube:focus,.social-youtube:hover {
	color: #fff;
	background-color: #e1171d!important
}

.social-youtube.active,.social-youtube:active {
	color: #fff;
	background-color: #850d11!important
}

.social-dribbble {
	color: #fff;
	background-color: #c32361!important
}

.social-dribbble:focus,.social-dribbble:hover {
	color: #fff;
	background-color: #dc3d7b!important
}

.social-dribbble.active,.social-dribbble:active {
	color: #fff;
	background-color: #981b4b!important
}

.social-instagram {
	color: #fff;
	background-color: #3f729b!important
}

.social-instagram:focus,.social-instagram:hover {
	color: #fff;
	background-color: #548cb9!important
}

.social-instagram.active,.social-instagram:active {
	color: #fff;
	background-color: #305777!important
}

.social-pinterest {
	color: #fff;
	background-color: #cc2127!important
}

.social-pinterest:focus,.social-pinterest:hover {
	color: #fff;
	background-color: #e04046!important
}

.social-pinterest.active,.social-pinterest:active {
	color: #fff;
	background-color: #a01a1f!important
}

.social-vk {
	color: #fff;
	background-color: #3d5a7d!important
}

.social-vk:focus,.social-vk:hover {
	color: #fff;
	background-color: #4e739f!important
}

.social-vk.active,.social-vk:active {
	color: #fff;
	background-color: #2c415b!important
}

.social-yahoo {
	color: #fff;
	background-color: #350178!important
}

.social-yahoo:focus,.social-yahoo:hover {
	color: #fff;
	background-color: #4b01ab!important
}

.social-yahoo.active,.social-yahoo:active {
	color: #fff;
	background-color: #1f0145!important
}

.social-behance {
	color: #fff;
	background-color: #1769ff!important
}

.social-behance:focus,.social-behance:hover {
	color: #fff;
	background-color: #4a8aff!important
}

.social-behance.active,.social-behance:active {
	color: #fff;
	background-color: #0050e3!important
}

.social-dropbox {
	color: #fff;
	background-color: #007ee5!important
}

.social-dropbox:focus,.social-dropbox:hover {
	color: #fff;
	background-color: #1998ff!important
}

.social-dropbox.active,.social-dropbox:active {
	color: #fff;
	background-color: #0062b2!important
}

.social-reddit {
	color: #fff;
	background-color: #ff4500!important
}

.social-reddit:focus,.social-reddit:hover {
	color: #fff;
	background-color: #ff6a33!important
}

.social-reddit.active,.social-reddit:active {
	color: #fff;
	background-color: #cc3700!important
}

.social-spotify {
	color: #fff;
	background-color: #7ab800!important
}

.social-spotify:focus,.social-spotify:hover {
	color: #fff;
	background-color: #9ceb00!important
}

.social-spotify.active,.social-spotify:active {
	color: #fff;
	background-color: #588500!important
}

.social-vine {
	color: #fff;
	background-color: #00b488!important
}

.social-vine:focus,.social-vine:hover {
	color: #fff;
	background-color: #00e7af!important
}

.social-vine.active,.social-vine:active {
	color: #fff;
	background-color: #008161!important
}

.social-foursquare {
	color: #fff;
	background-color: #0cbadf!important
}

.social-foursquare:focus,.social-foursquare:hover {
	color: #fff;
	background-color: #2ad0f4!important
}

.social-foursquare.active,.social-foursquare:active {
	color: #fff;
	background-color: #0992af!important
}

.social-vimeo {
	color: #fff;
	background-color: #1ab7ea!important
}

.social-vimeo:focus,.social-vimeo:hover {
	color: #fff;
	background-color: #49c6ee!important
}

.social-vimeo.active,.social-vimeo:active {
	color: #fff;
	background-color: #1295bf!important
}

.social-skype {
	color: #fff;
	background-color: #77bcfd!important
}

.social-skype:focus,.social-skype:hover {
	color: #fff;
	background-color: #a9d5fe!important
}

.social-skype.active,.social-skype:active {
	color: #fff;
	background-color: #45a3fc!important
}

.social-evernote {
	color: #fff;
	background-color: #46bf8c!important
}

.social-evernote:focus,.social-evernote:hover {
	color: #fff;
	background-color: #6ccca4!important
}

.social-evernote.active,.social-evernote:active {
	color: #fff;
	background-color: #369c71!important
}

.bg-wechat {
	background-color: #51c332
}

.bg-qq {
	background-color: #12b7f5
}

.bg-weibo {
	background-color: #e6624b
}

.bg-facebook {
	background-color: #3b5998
}

.bg-twitter {
	background-color: #55acee
}

.bg-google-plus {
	background-color: #dd4b39
}

.bg-linkedin {
	background-color: #0976b4
}

.bg-flickr {
	background-color: #ff0084
}

.bg-tumblr {
	background-color: #35465c
}

.bg-xing {
	background-color: #024b4d
}

.bg-github {
	background-color: #4183c4
}

.bg-html5 {
	background-color: #e44f26
}

.bg-openid {
	background-color: #f67d28
}

.bg-stack-overflow {
	background-color: #f86c01
}

.bg-css3 {
	background-color: #1572b6
}

.bg-youtube {
	background-color: #b31217
}

.bg-dribbble {
	background-color: #c32361
}

.bg-instagram {
	background-color: #3f729b
}

.bg-pinterest {
	background-color: #cc2127
}

.bg-vk {
	background-color: #3d5a7d
}

.bg-yahoo {
	background-color: #350178
}

.bg-behance {
	background-color: #024b4d
}

.bg-dropbox {
	background-color: #007ee5
}

.bg-reddit {
	background-color: #ff4500
}

.bg-spotify {
	background-color: #7ab800
}

.bg-vine {
	background-color: #00b488
}

.bg-foursquare {
	background-color: #0cbadf
}

.bg-vimeo {
	background-color: #1ab7ea
}

.bg-skype {
	background-color: #77bcfd
}

.bg-evernote {
	background-color: #46bf8c
}