
.align-baseline {
	vertical-align: baseline!important
}

.align-top {
	vertical-align: top!important
}

.align-middle {
	vertical-align: middle!important
}

.align-bottom {
	vertical-align: bottom!important
}

.align-text-bottom {
	vertical-align: text-bottom!important
}

.align-text-top {
	vertical-align: text-top!important
}


.vertical-align {
	font-size: 0
}
.vertical-align:before {
	vertical-align: middle;
	content: "";
	display: inline-block;
	height: 100%
}
.vertical-align-middle {
	vertical-align: middle;
	display: inline-block;
	max-width: 100%;
	font-size: 1rem
}
.vertical-align-bottom {
	vertical-align: bottom;
	display: inline-block;
	max-width: 100%;
	font-size: 1rem;
}