
.table-section-arrow {
	speak: none;
	font-style: normal;
	font-family: "Web Icons";
	font-weight: 400;
	text-rendering: auto;
	display: inline-block;
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	text-align: center;
	-webkit-transition: -webkit-transform .15s;
	transition: -webkit-transform .15s;
	transition: transform .15s;
	transition: transform .15s,-webkit-transform .15s
}

.table-section-arrow:before {
	content: ""
}