
.animation-scale {
	-webkit-animation-name: scale-12;
	animation-name: scale-12
}


@-webkit-keyframes scale-12 {
	0% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2)
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@keyframes scale-12 {
	0% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2)
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}