
.page-header {
	position: relative;
	padding: 20px;
	margin-top: 0;
	margin-bottom: 0;
	background: 0 0
}
.page-header+.page-content {
	padding-top: 0
}
.page-header .breadcrumb {
	padding: 0;
	margin: 0
}

.page-header-actions {
	position: absolute;
	top: 50%;
	right: 20px;
	margin: auto;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%)
}

.page-header-actions .btn-icon {
	margin-left: 6px
}

.page-header-actions>* {
	margin-bottom: 0
}

.page-header-bordered {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	background-color: #fff;
	border-bottom: 1px solid transparent
}

.page-header-tabs {
	padding-bottom: 0
}

.page-header-tabs .nav-tabs-line {
	margin-top: 5px;
	border-bottom-color: transparent
}

.page-header-tabs .nav-tabs-line>li>a {
	padding: 5px 20px
}
