.panel-title {
	margin-bottom: 0;
	margin-top: 0;
	display: block;
	padding: 20px 25px;
	font-size: 16px;
	color: #37474f
}

.panel-title>.icon {
	margin-right: 10px
}

.panel-title>.badge {
	margin-left: 10px
}

.panel-title .small,
.panel-title small {
	color: #76838f
}

.panel-title>.small>a,
.panel-title>a,
.panel-title>small>a {
	color: inherit
}

@media (max-width:479.98px) {
	.panel-title {
		padding-right: 20px;
		padding-left: 20px
	}
}